{%load static%}
<!DOCTYPE html>
<meta charset="utf-8">
{%block styles%}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{%endblock%}
<title></title>
{%block content%}
<div class="navbar navbar-group">
  <nav>
    <ul>
      <a href="{%url "home"%}">
        <li><i class="fa fa-home">HOME</i></li>
      </a>
      <a href="#">
        <li> <i class="fa fa-user-circle"></i>USER</li>
      </a>
      <a href="{%url 'wallet'%}">
        <li><i class="fa fa-google-wallet"> WALLET</i></li>
      </a>
      <a href="{% url 'savings'%}">
        <li><i class="glyphicon glyphicon-piggy-bank"></i>SAVINGS PLAN</li>
      </a>
      <a href="/logout">
        <li style="  font-size: 25px;" class="fa fa-power-off">LOGOUT<i></i> </li>
      </a>
    </ul>


  </nav>
</div>
{%endblock%}
