{%extends 'base.html'%}
{% load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  {%block styles%}
  <link rel="stylesheet" href="{% static 'css/wallet.css' %}">
  {% endblock %}
  <title></title>
</head>

<body>
  {%block content%}
  <div class="container">
    <blockquote cite="http://">
      <p style="color:white">To update your finances click on <a href="{% url 'finance'%}">this</a> </p>
    </blockquote>

    <div class="jumbotron" style="background-color:black">
      <div class="table-responsive">

        <div class="panel" style="background-color:black;">
          <table>
            <div class="panel-heading">

              <caption style="background-color:white;color:black;" class="text-center">Finance Calculator</caption>
            </div>
            <div class="panel-body">
              <thead>
                <tr>
                  <th style="color:white" class="text-center">Month</th>
                  <th style="color:white" class="text-center">Savings</th>
                  <th style="color:white" class="text-center">Salary</th>
                  <th style="color:white;" class="text-center">Expenses</th>
                  <th style="color:white;" class="text-center">Surplus</th>
                </tr>
              </thead>
              {%for fin in finance%}
              <tr>
                <td><input type="text" name="" value="{{fin.months}}" readonly></td>

                <td> <input type="text" name="" value="{{fin.savings}}" id="savings" readonly></td>
                <td> <input type="text" id="salary" name="" value="{{fin.salaryearned}}" readonly></td>
                <td><input type="text" id="expense" name="" value="{{fin.expenses}}"> </td>
                <p id="status" style="color:white;"></p>

                <td style="color:purple;width:182px">
                  <p id="surplus" style="font-size:18px" class="text-center"></p>
                </td>
              </tr>
              {%endfor%}
            </div>
          </table>
        </div>

      </div>

    </div>
  </div>
  {% endblock %}
  {% block scripts %}
  <script type="text/javascript">
    var a = document.getElementById("savings");
    var b = document.getElementById("salary");
    var c = document.getElementById("expense");
    var d = document.getElementById("surplus");
    var f = document.getElementById("status");
    var e = (parseInt(b.value)) - (parseInt(c.value))

    if (parseInt(d.value) === parseInt(a.value)) {
      document.getElementById("status").innerHTML = "You are on track.Keep going on!!";
    } else if ((parseInt(d.value)) < (parseInt(a.value))) {
      document.getElementById("status").innerHTML = "You can save more by increasing your savings plan per month";
    } else if ((parseInt(d.value)) > (parseInt(a.value))) {
      document.getElementById("status").innerHTML = "Please stick to your savings planh";
    } else {
      document.getElementById("status").innerHTML = "You are on track.Keep going on!!";
    }
    document.getElementById("surplus").innerHTML = e;

    console.log(e)
    console.log(typeof(b.value));
    console.log(c.value);
  </script>
  {% endblock %}
</body>

</html>
